<section id="subscribe">
  <div class="container wow fadeIn">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Subscribe</h2>
        <hr class="colored">
        <p>Gabaliums sunt lacteas de nobilis adelphis. Talis, superbus cliniass foris experientia de altus, festus assimilatio.</p>
      </div>
    </div>

    <div class="row">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Subscription List</div>

        <!-- List group -->
        <ul class="list-group">
          <li class="list-group-item">
            Cur compater mori?
            <div class="material-switch pull-right">
              <input id="someSwitchOptionDefault" name="someSwitchOption001" type="checkbox"/>
              <label for="someSwitchOptionDefault" class="label-success"></label>
            </div>
          </li>
          <li class="list-group-item">
            Cur index crescere?
            <div class="material-switch pull-right">
              <input id="someSwitchOptionPrimary" name="someSwitchOption001" type="checkbox"/>
              <label for="someSwitchOptionPrimary" class="label-success"></label>
            </div>
          </li>
          <li class="list-group-item">
            Nunquam consumere abaculus.
            <div class="material-switch pull-right">
              <input id="someSwitchOptionSuccess" name="someSwitchOption001" type="checkbox"/>
              <label for="someSwitchOptionSuccess" class="label-success"></label>
            </div>
          </li>
          <li class="list-group-item">
            Nunquam experientia ausus.
            <div class="material-switch pull-right">
              <input id="someSwitchOptionInfo" name="someSwitchOption001" type="checkbox"/>
              <label for="someSwitchOptionInfo" class="label-success"></label>
            </div>
          </li>
          <li class="list-group-item">
            Nunquam tractare compater.
            <div class="material-switch pull-right">
              <input id="someSwitchOptionWarning" name="someSwitchOption001" type="checkbox"/>
              <label for="someSwitchOptionWarning" class="label-success"></label>
            </div>
          </li>
          <li class="list-group-item">
            Cur fermium accelerare?
            <div class="material-switch pull-right">
              <input id="someSwitchOptionDanger" name="someSwitchOption001" type="checkbox"/>
              <label for="someSwitchOptionDanger" class="label-success"></label>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="row content-row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="row">
          <div class="form-group col-xs-12 text-center">
            <button type="submit" class="btn btn-outline-dark" (click)="onSubmit()">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
