<section id="signup" [formGroup]="form">
  <div class="container wow fadeIn">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Sign Up</h2>
        <hr class="colored">
      </div>
    </div>
    <div class="text-center">{{ error }}</div>
    <div class="row content-row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Email Address</label>
            <input
              type="email"
              formControlName="login"
              class="form-control"
              placeholder="Email Address"
              id="email"
              required
              data-validation-required-message="Please enter your email address.">
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Password</label>
            <input
              type="password"
              formControlName="password"
              class="form-control"
              placeholder="Password"
              id="password"
              required data-validation-required-message="Please enter your password.">
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Retype Password</label>
            <input
              type="password"
              formControlName="repeat_password"
              class="form-control"
              placeholder="Retype Password"
              id="retype-password"
              required data-validation-required-message="Please retype your password.">
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <br>
        <div id="success"></div>
        <div class="row">
          <div class="form-group col-xs-12">
            <button
              type="submit"
              class="btn btn-outline-dark"
              (click)="onSubmit()"
              [disabled]="!form.valid">
              Sign Up
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
