<section id="products">
  <div class="container wow fadeIn">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Payment</h2>
        <hr class="colored">
      </div>
    </div>

    <div class="row">
      <div class="panel panel-default">

        <ul class="list-group">

          <li class="list-group-item list-group-item-with-padding" *ngFor="let item of items">
            <span>&nbsp;&nbsp;{{item.name}}</span>
            <div class="pull-right"><span>Price: {{item.price}} {{item.currency}} &nbsp;&nbsp;x{{item.quantity}}</span></div>
          </li>

          <div class="panel-footer">
            Total price: <span class="pull-right">{{totalPrice}} {{items && items[0] ? items[0].currency : '' }}</span>
          </div>

        </ul>
      </div>
    </div>

    <div class="row text-center">
      <img src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_mc_vs_dc_ae.jpg" (click)="onSubmit()" style="cursor: pointer;"/>
    </div>
  </div>
</section>
