<section id="products">
  <div class="container wow fadeIn">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Products</h2>
        <hr class="colored">
      </div>
    </div>

    <div class="row">
      <div class="panel panel-default">


        <ul class="list-group">
          <li class="list-group-item list-group-item-with-padding" *ngFor="let product of productList let i = index">

            <div class="material-switch pull-left">
              <input id="product{{i}}" name="someSwitchOption" type="checkbox" (change)="onProductSwitch($event, product)" [(ngModel)]="product.selected"/>
              <label for="product{{i}}" class="label-success"></label>
            </div>

            <span>&nbsp;&nbsp;{{product.name}}</span>

            <div class="pull-right">
              <select class="form-control" [disabled]="!product.selected" (change)="setQuantity($event, product)" id="product{{i}}quantity">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="pull-right"><span>Price: {{product.price}} {{product.currency}} &nbsp;&nbsp;</span></div>
          </li>

          <div class="panel-footer">
            Total price: <span class="pull-right">{{totalPrice}} {{productList && productList[0] ? productList[0].currency : '' }}</span>
          </div>
        </ul>
      </div>
    </div>

    <div class="row content-row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="row">
          <div class="form-group col-xs-12">
            <button type="submit" class="btn btn-outline-dark" (click)="onSubmit()">GO TO PAYMENTS</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
